<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img src="/img/logo.png" alt="logo">
    </a>
    <a href="/perguntar" class="btn btn-outline-primary mt-2 ">Perguntar</a>
</nav>
